// IMPORTANT!!! These need to match the colors in Set Up theme-colors foe these to work
//
// Make WP specific classes for color variables
//
// $colors: (
// blue: #0000FF,
//  red: (
//      base: #FF0000,
//      light: #EEEEFF,
//      dark: #5555FF
//      )
//  );
//
// color: get-color(red);
// background-color: get-color(red, dark);

// @import "../global/variables"; // Included in mixins functions

/***** Theme specific utility colors  *****/

@each $color, $value in $colors {
  .color-#{"" + $color} {
    // comment this out to use only the WP specs for color
    color: $value;
  }
  .has-#{"" + $color}-color {
    color: $value;
  }
  .has-#{"" + $color}-background-color {
    background-color: $value;
  }
}
