//--------------------------------------------------------------
// Carousel Block
//--------------------------------------------------------------

$slide-height: 500px;

.carousel-block {
  &.content-block {
    padding: 0;
  }

  .slick-slide div {
    height: $slide-height;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;
  }

  .slick-next,
  .slick-prev {
    background-color: clr(dovegray);

    &:hover {
      color: #fff;
    }
  }

  .slick-next {
    right: $global-gutter;
    display: none !important;

    @include media-breakpoint-up(lg) {
      display: block !important;
    }

    @include media-breakpoint-up(lg) {
      right: 0;
    }
  }

  .slick-prev {
    left: $global-gutter;
    display: none !important;

    @include media-breakpoint-up(lg) {
      display: block !important;
    }

    @include media-breakpoint-up(xl) {
      left: 0;
    }
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 1;
    list-style: none;

    li {
      flex-direction: row;
      justify-content: center;

      button {
        background-color: clr(dovegray);
      }

      &.slick-active {
        button {
          background-color: clr(alto);
        }
      }
    }
  }
}

.slide {
  margin-bottom: 0;
  overflow-y: hidden;
  position: relative;
  z-index: 1;

  &-content {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: $slide-height;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 3;
  }

  &-description {
    padding-bottom: $global-gutter * 2;
  }

  .button-slide {
    text-decoration: none;
  }
}
