.cli-modal-content {
  border-radius: 0;

  .cli-tab-footer {
    .wt-cli-privacy-accept-btn {
      background-color: #000000;
      border-radius: 0;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
