// Base

body {
  background: #fff;
  margin: 0;
  font-family: $font-sans;
  font-size: $global-font-size;
  line-height: 1.55;
  color: clr(grey-md);
  overflow-x: hidden;
  min-height: 100vh;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  margin: 40px 0;

  &.hide-title {
    margin: 0 0 40px;
  }
}
