// Base

body {
  background: #fff;
  margin: 0;
  font-family: $base-font;
  font-size: $global-font-size;
  line-height: 1.55;
  color: get-color(grey-md);
  overflow-x: hidden;
  @include media-breakpoint-only(xs) {
    display: block;
  }

  @include font-size(1.6, "", 1.8, 2.4, 3.6);
}
