// Doc and body init

html {
    box-sizing: border-box;
    font-size: $base-font-size;
    margin-top: 0 !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body,
  html {
    max-width: 100%;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  