// Doc and body init

/***** Document/Base *****/

html {
  cursor: default;
  box-sizing: border-box;
  font-size: $base-font-size; // Sets the base document font size
  max-width: 100%;
  margin: 0 !important;
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  background-repeat: no-repeat;
}
