// Variables

$image-path: '../images/';
$icon-path: '../icons/';
$web-font-path: '../fonts/';

//Site sizes
$site-width: 1024px;
$site-width-sm: 700px;
$site-width-md: 900px;
$site-width-lg: 1400px;

$bs-gutter: 2.4rem;

// Transition global-transition
$transition: 0.25s ease-in-out;

//Font stuff
$base-font: 'Montserrat Regular';
$base-font-size: 62.5%;

$text-base: #000000;
$black: #000000;
$white: #FFFFFF;

//colors
$red: #E32127;
$grey: #999;
$grey-md: #CCCCCC;
$grey-lt: #EEEEEE;
$grey-text: #666666;
