// Variables

$image-path: "../images/";
$icon-path: "../images/icons/";
$web-font-path: "../fonts/";

// global element padding
$global-gutter: 2.4rem;

// Transition global-transition
$transition: 0.25s ease-in-out;

// Font stuff
$base-font: "Montserrat Regular"; // Sets the base font family
//$base-font-size: 62.5%; // Sets the base font size to 10px
$base-font-size: 10px; // Sets the base font size to 10px
$global-font-size: 1.6rem;

// Site sizes used in container-sizes mixin. Should also be set for registers block styles.
$container-sizes: (
  container: 1200,
  container-xs: 700,
  container-sm: 900,
  container-lg: 1400,
);

// colors, used in colors mixin. Should match theme colors in inc/setup
$colors: (
  black: #000000,
  white: #fff,
  ip-red: #d31020,
  grey: #999,
  grey-md: #ccc,
  grey-lt: #eee,
  grey-text: #666,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
