.form-container,
.desktop-search {
  flex-basis: 100%;
  width: 100%;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: clr(gallery);
  @include global-transition();

  .search-form {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    transform: scale(0);
    @include global-transition();

    label {
      width: 60%;
    }

    .button,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      background-color: clr(red);
      transition: all 0.5s ease 0s;
      margin-top: 0px;
      &:hover,
      &:focus {
        background-color: clr(secondary);
        color: #fff;
      }
    }

    input[type="search"] {
      width: calc(100% - 10px);
      height: 100%;
    }
  }

  .search-form-visible & {
    padding: 20px 0;
    max-height: 200px;
    visibility: visible;
    opacity: 1;

    .search-form {
      transform: scale(1);
      margin: 0 auto;
    }
  }
}
