//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------
.site-header {
  flex: 0 0 100%;
  width: 100%;
  padding: 0px 0px 20px 0px;
  background-color: clr(gallery);

  button.off-canvas-open {
    top: 0px;
    left: 0px;
    position: relative;
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  @import "branding";

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @import "desktop-search";
  }
}
