nav {
  &#footer-navigation {
    .footer-menu {
      display: flex;
      gap: 20px;
      justify-content: flex-start;

      > li {
        > a {
          text-decoration: none;
          color: clr(theme-black);
        }
      }
    }
  }
}
