.site-footer {
  .social {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 20px;
      right: 0;
    }

    .social-icons {
      list-style: none;
      display: flex;
      gap: 10px;
      justify-content: center;

      > li {
        > a {
          &:hover {
            opacity: 1;
            &.facebook {
              color: $facebook;
            }
            &.twitter {
              color: $twitter;
            }
            &.linkedin {
              color: $linkedin;
            }
            &.instagram {
              color: $instagrammagenta;
            }
            &.youtube {
              color: $youtube;
            }
            &.pinterest {
              color: $pinterest;
            }
            &.reddit {
              color: $reddit;
            }
            &.snapchat,
            &.snap-chat {
              color: $snapchat;
            }
            &.vimeo {
              color: $vimeoblue;
            }
            &.whatsapp,
            &.whats-app {
              color: $whatsappgreen;
            }
            &.tiktok {
              color: $tiktokblack;
            }
            &.telegram {
              color: $telegram;
            }
            &.quora {
              color: $quora;
            }
            &.skype {
              color: $skypeblue;
            }
          }
        }
      }
    }
  }
}
