.off-canvas-container {
  position: fixed;
  top: 0;
  background-color: clr(whitesmoke);
  height: 100%;
  width: 100vw;
  max-width: 500px;
  z-index: 9999;
  transform: translateX(-100%);
  @include global-transition();

  &.is-visible {
    transform: translateX(0);
  }

  .mobile-nav-header {
    padding: 20px;
    position: relative;
    border-bottom: 1px solid clr(red);

    .logo {
      display: block;
      @include aspect_ratio(380, 74);
      background-size: contain;
      width: 200px;

      @include media-breakpoint-up(md) {
        width: 240px;
      }
    }

    .off-canvas-close {
      background-color: transparent;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;

      .close {
        cursor: pointer;
        display: block;
        outline: none;

        &::before,
        &::after {
          width: 35px;
          height: 3px;
          background: clr(themeblack);
          border-radius: 3px;
          content: "";
          cursor: pointer;
          display: block;
          position: relative;
          left: 50%;
        }

        &::before {
          top: 3px;
          transform: translateX(-50%) rotate(45deg);
        }

        &::after {
          transform: translateX(-50%) rotate(-45deg);
        }
      }
    }
  }

  .mobile-navigation {
    .mobile-menu {
      margin: 0;
      padding: 0;

      > li {
        border-bottom: 1px solid clr(secondary);

        > a {
          display: block;
          padding: 15px;
          font-size: 1.6rem;
          text-decoration: none;
          color: clr(themeblack);
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            padding: 5px;
            background-color: transparent;
            display: inline-block;
            z-index: 9999;
          }
        }

        &.is-visible {
          > a {
            button {
              transform: rotate(180deg);
            }
          }
        }

        > ul {
          padding: 0 10px;
          max-height: 0;
          overflow: hidden;
          @include global-transition(0.5s ease-in-out);

          > li {
            border-bottom: 1px solid clr(secondary);

            &:last-child {
              border: none;
            }

            > a {
              display: block;
              padding: 15px;
              font-size: 1.6rem;
              text-decoration: none;
              color: clr(themeblack);
            }
          }

          &.is-visible {
            max-height: 2000px;
          }
        }
      }
    }
  }
}

.off-canvas-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  @include global-transition();
  visibility: hidden;
  z-index: 9996;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}
